[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Pp]ackages/
[Pp]rojectSettings/Packages/
[Uu]nity[Aa]sset[Ss]tore/
[Aa]ssets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.autosave
*.[Aa]sset.[Bb]ackup.*
**/Assets/AddressableAssetsData/*/*.bin*
**/Assets/StreamingAssets/*.meta".plastic/" 
"UserSettings/"   
"ignore.conf" 
".vscode/" 
